<!DOCTYPE html>
<html lang="en">
<head>
<title>SS HYDERABAD BIRYANI</title>
</head>
<body bgcolor="green">
<h1 align="center">
<font color="black"><b>SS HYDERABAD BIRYANI</b></font>
</h1>
<h2 align="center">
<font color="brown"><b>Hotel</b></font>
</h2>
<hr size="3" color="black">
<p align="justify">
<font face="Times New Roman" size="5">
<b>
    A unique speciality of this biryani eatery is their bucket biryani - between 4 to 5 persons as Super Pack, and 8 to 9 persons as Standard pack. Bucket biryani is a wholesome meal for not only the entire family but also when there are about 50 to 60 guests for a small celebration. Flavourful, delicious, hot biryani is served with brinjal curry, eggs, onion raitha and chicken 65. This wholesome meal is economical too and very popular with the ardent biryani lovers.It is one of most popular biryani shop in India. It is popular because of its unique taste when compared to other shops.
    </b>
</font>
</p>
</body>
</html>
