<!DOCTYPE html>
<html lang="en">
<head>
<title>My City</title>
</head>

<body style="background-color: black;">
    <img src="/static/images/map.png" usemap="#MyCity" alt="MyCity" height="857" width="1729">
<map name="MyCity">
    <area shape="RECT" coords="826,402,903,469" alt="Perambur railway station" title="Perambur railway station" href="/Peramburrailwaystation/">
    <area shape="RECT" coords="333,69,410,162" alt="SS Hyderabad biriyani" title="SS Hyderabad biriyani" href="/SSHyderabadbiriyani/">
    <area shape="RECT" coords="87,182,195,240" alt="church" title="church" href="/church/">
    <area shape="RECT" coords="956,245,1033,325" alt="Trends" title="Trends" href="/Trends/">
    <area shape="RECT" coords="470,110,722,313" alt="Murasoli maran park" title="Murasoli maran park" href="/Murasolimaranpark/">
</map>
</body>
</html>