<!DOCTYPE html>
<html lang="en">
<head>
<title>STATION</title>
</head>
<body bgcolor="pink">
<h1 align="center">
<font color="black"><b>Perambur railway Station</b></font>
</h1>
<h2 align="center">
<font color="brown"><b>Railway Station</b></font>
</h2>
<hr size="3" color="black">
<p align="justify">
<font face="Times New Roman" size="5">
<b>
    Perambur railway station is the second oldest railway station in the city after Royapuram railway station. The station was built in the 1860s to cater to employees at Southern Railway's locomotive, carriage, wagon, and coach-building workshops.The lines at the station were electrified on 29 November 1979, with the electrification of the Chennai Central–Tiruvallur section.Perambur is noted for the largest presence of Anglo-Indians in Chennai (and arguably in South India) because of the erstwhile British settlements in and around Perambur, during the construction and running of the Integral Coach Factory (ICF).
</b>
</font>
</p>
</body>
</html>
