<!DOCTYPE html>
<html lang="en">
<head>
<title>TRENDS</title>
</head>
<body bgcolor="purple">
<h1 align="center">
<font color="black"><b>TRENDS</b></font>
</h1>
<h2 align="center">
<font color="brown"><b>Shopping</b></font>
</h2>
<hr size="3" color="black">
<p align="justify">
<font face="Times New Roman" size="5">
<b>
    Reliance Retail is an Indian retail company and a subsidiary of Reliance Industries. Founded in 2006, it is the largest retailer in India in terms of revenue.[4] Its retail outlets offer foods, groceries, apparel, footwear, toys, home improvement products, electronic goods, and farm implements and inputs. Apart from physical outlets, the company also sells products on its e-commerce channels. It has 280,000 employees at 16,700 store locations.Reliance Retail had a turnover of ₹337 billion in the financial year 2016–17. Reliance Retail announced revenues of ₹450 billion for the nine months ended December 2017 for financial year 2017–18, showing over a 90% jump from the corresponding previous period. The company also reported a profit of ₹7 billion for the period.[9][10][11] In financial year 2019–2020, the company reported revenue of ₹1.62 trillion and EBITDA of 9,654 crore growing 55.7% year over year.
  </b>
</font>
</p>
</body>
</html>
